@import url('https://fonts.googleapis.com/css?family=Nixie+One|Raleway:200');

.note-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin: 0 25px; */
  margin: 0;
}

.circle {
  position: relative;
}

.circle__svg {
  transform: rotate(-90deg);
}

.circle__progress {
  fill: none;
  stroke-width: 12;
  stroke-opacity: 0.3;
  stroke-linecap: square;
  stroke: #00c33f;
}

.circle__progress--fill {
  --initialStroke: 0;
  --transitionDuration: 0;
  stroke-opacity: 1;
  stroke-width: 4;
  stroke-dasharray: var(--initialStroke);
  stroke-dashoffset: var(--initialStroke);
  transition: stroke-dashoffset var(--transitionDuration) ease;
  stroke: #f00;
}


/* .note-display { stroke: #00ff22; } */


.percent {
  width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  font-family: 'Raleway', serif;
  font-weight: bold;
  text-align: center;
  /* line-height: 28px; */
  transform: translate(-50%, -50%);
}

.percent__int { font-size: 28px; }
.percent__dec { font-size: 12px; }

.sum_label {
  font-family: 'Raleway', serif;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-right: 14px;
}
